<span style="align-items: flex-end">
      <button pButton pRipple
              [label]="'Pobierz bez filtrów'"
              (click)="initItemList(false)"></button>
        <button pButton pRipple
                [label]="'Pobierz z filtrami'"
                (click)="initItemList(true)"></button>
    <button pButton pRipple
            [label]="'Sortuj wg ceny'"
            (click)="sortByPrice()"></button>
    <button pButton pRipple
            [label]="'Sortuj wg zniżki'"
            (click)="sortByDiscount()"></button>
</span>
<br/>
<br/>
<p-orderList
  #orderList
  [filterBy]="'nameCategoryTag'"
  [value]="topItemList"
  [listStyle]="{'height':'auto'}">
  <ng-template let-item pTemplate="item">
    <div class="product-item">
      <div class="image-container">
        <img [src]="getItemPhoto(item)" style="display:inline-block;margin:2px 0 2px 2px" width="90" alt="">
      </div>
      <div class="product-list-detail">
        <h5 class="p-mb-2">{{item.brand}}</h5>
        <i class="pi pi-tag product-category-icon"></i>
        <span class="product-category">{{item.nameCategoryTag}}</span>
      </div>
      <div class="product-list-action">
        <h5>
          Special price - {{item.specialPrice / 100}}
        </h5>
        <h7>Regular price - {{item.price / 100}}, savings - {{item.savings}}</h7>
        <span>
          <ng-container *ngFor="let simple of item.simples">
            <button pButton pRipple
                    [class]="getSimpleClass(simple.stockStatus)"
                    [label]="simple.filterValue"
                    (click)="butItem(item, simple)"></button>
          </ng-container>
            <button pButton pRipple
                    [class]="'p-button-success'"
                    [label]="'Kopiuj URL'"
                    (click)="goToItem(item)"></button>

            <button pButton pRipple
                    [class]="'p-button-success'"
                    [label]="'Cena zalando PL'"
                    (click)="zalandoService.getZalandoPrice(item)"></button>

            <button pButton pRipple
                    [class]="'p-button-success'"
                    [label]="'Cena zalando PL'"
                    (click)="zalandoService.getZalandoPrice(item, 'DE')"></button>
        </span>
      </div>
    </div>
  </ng-template>
</p-orderList>

<p-toast></p-toast>
